.carousel{
    margin: 5rem auto;
    justify-content: center;
    width: 50%;
    carousel-inner{
        width: 60%;
        carousel-item{
            width: 5rem;
            height: 5rem;
        }
    }
}

