$fuentePrincipal: "poppins roboto arial";
$fuenteSecundaria: "symbol ";
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
#font1{
    font-family: '', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 125, 78);
    font-size: 2rem;
}

.nav-link{
    color: rgb(255, 125, 78);
}