$fuentePrincipal: "poppins roboto arial";
$fuenteSecundaria: "symbol ";

#font1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orangered;
}

.nav-link{
    color: orangered;
}