h3{
    text-align: center;
    span{
        padding-left: 3rem;
        justify-content: start;
        margin: auto;
        
    }
}

#fondoPrecios{
    padding: 3rem 0;
    background-color: rgb(249, 249, 219);
    
}

.btn{
    border-color: transparent;
    &:hover{
        background-color: rgb(255, 255, 255);
        color: orangered;
        border-color: orangered;
    }
}